<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Ajusta el puerto al que Visual Studio asigne al proyecto del servicio -->
    <add key="ServicioAutenticacionUrl" value="http://localhost:62310/ServicioAutenticacion.svc" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
</configuration>
