<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AdministracionPersonalDb"
			 connectionString="Server=138.59.135.31;Port=3306;Database=tiusr14cp_personal_sitios;User ID=tiusr14cp_dencel;Password=denceljasan2004;SslMode=Preferred;"
			 providerName="MySqlConnector" />
	</connectionStrings>

	<appSettings>
		<add key="Security:AesKey" value="12345678901234567890123456789012" />
		<add key="Sesion:DuracionMinutos" value="60" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8.1" />
		<httpRuntime targetFramework="4.8.1" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
								  multipleSiteBindingsEnabled="true"
								  minFreeMemoryPercentageToActivateService="0" />
	</system.serviceModel>
</configuration>